<html>

<head>
    <title>Header</title>
    <link href="">
      <link rel="stylesheet" type="text/css" href="css/all.css">
    </link>
</head>

<body>
    <div class="Final-sec">
        <div class="final-sec-items">
            
            <p>copyright &copy 2021 . all right reserved by Menna</p>
        </div> <!-- final-sec-items -->
    </div>
</body>

</html>

