<html>
    <head>
        <title>Header</title>
        <link href=""></link>
    </head>
    <body>
        <h2 class="head">{{title}}</h2>
        <div class="header1">
            <a href="/">Home</a>
        </div>
        
    </body>
</html>