<html>
    <head>
        <title>Index hbs</title>
                <link rel="stylesheet" href="css/style.css">
                      <link rel="stylesheet" type="text/css" href="css/all.css">


    </head>
    <body>
        <h3>Welcome to our website. To know your country's weather, latitade and longitude,please enter the name of your country</h3>
        <form id="form1">
            <input type="text" id="address">
            <button>search for weather</button>
        </form>
        <p id="location"></p>
        <p id="forecast"></p>
        <p id="latitude"></p>
        <p id="longitude"></p>
        <p id="error"></p>
        
        <script src="/js/index.js"></script>
    </body>
</html>